@using Presentation.Extensions
@using CrossCutting;
@model SB_Dashboard_Presentation.ViewModels.ModeloViewModel
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<style>
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>

<div class="wrapper wrapper-content animated fadeInRight">
    <div id="containerModalDesc">
        <div class="modal fade" id="modalDesc" tabindex="-1" role="dialog" aria-labelledby="modalDesc" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalDesc">Descrição do Indicador</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="modalDescBody" class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-title">
        <h3 class="title">Dashboards</h3>
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("MontarTelaDashboard", "BaseAdmin")">Dashboards</a>
            </li>
            <li class="active">
                <strong>Dashboards</strong>
            </li>
        </ol>
        <br />
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Dashboards</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Configuração 1</a>
                            </li>
                            <li>
                                <a href="#">Configuração 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">Fechar</button>
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>
                    }

                    <div class="row">
                        @*Filtros*@
                        <div class="col-lg-2 col-md-2 col-xs-2" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px; background-color: azure">
                            @using (Html.BeginForm("FiltrarTudoDashboard", "Dashboard", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
                            {
                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                    <div class="col-lg-12 col-md-12 col-xs-12">
                                        <br />
                                        @Html.ButtonActionSubmit(text: "Aplicar Filtros")
                                    </div>
                                </div>
                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                    <div class="col-lg-12 col-md-12 col-xs-12">
                                        Filtro Tipo Lista
                                        @Html.DropDownListFor(m => m.Filtro, (SelectList)ViewBag.Filtro, "Selecionar", new { @class = "form-control", autofocus = true, id="fil1", onchange = "FiltrarTudo($(this).val())" })
                                    </div>
                                </div>
                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                    <div class="col-lg-12 col-md-12 col-xs-12">
                                        Filtro Tipo Data
                                        @Html.TextBoxFor(m => m.FiltroData,  "{0:dd/MM/yyyy}", new { @class = "form-control date-picker", autofocus = true, @id = "data" })
                                    </div>
                                </div>
                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                    <div class="col-lg-12 col-md-12 col-xs-12">
                                        Filtro Tipo Texto
                                        @Html.TextBoxFor(m => m.FiltroTexto, new { @class = "form-control", autofocus = true })
                                    </div>
                                </div>
                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                    <div class="col-lg-12 col-md-12 col-xs-12">
                                        Filtro Tipo Spin
                                        @Html.TextBoxFor(m => m.Filtro, new { @class = "form-control touchspin2", autofocus = true })
                                    </div>
                                </div>
                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                    <div class="col-lg-12 col-md-12 col-xs-12">
                                        Filtro Tipo Check
                                        <br />
                                        @Html.CheckBoxFor(m => m.Check, new { @class = "checkbox i-checks", @id = "check" })
                                    </div>
                                </div>
                                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                    <div class="col-lg-12 col-md-12 col-xs-12">
                                        Filtro Tipo Slider
                                        <div id="ionrange_1"></div>
                                    </div>
                                </div>
                            }
                        </div>

                        @*Abas*@
                        <div class="col-lg-10 col-md-10 col-xs-10">
                            <div class="tabs-container">
                                @using (Html.BeginForm("MontarTelaDashboard", "Dashboard", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", @id = "pwd-container1" }))
                                {
                                    <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                        <div class="col-lg-12 col-md-12 col-xs-12">
                                            @Html.ButtonLinkIndex(text: "Recarregar", controller: "Dashboard", action: "Voltar")
                                        </div>
                                    </div>
                                    <ul class="nav nav-tabs">
                                        @*<li class="active"><a data-toggle="tab" href="#tab-1">Fluxo de Caixa</a></li>
                                        <li class=""><a data-toggle="tab" href="#tab-2">Tela Operacional</a></li>
                                        <li class=""><a data-toggle="tab" href="#tab-3">Business Inteligence</a></li>*@
                                        <li class="active"><a data-toggle="tab" href="#tab-1">Aba 1</a></li>
                                        <li class=""><a data-toggle="tab" href="#tab-2">Aba 2</a></li>
                                        <li class=""><a data-toggle="tab" href="#tab-3">Aba 3</a></li>
                                    </ul>
                                    <div class="tab-content">

                                        @*Fluxo de Caixa*@
                                        <div id="tab-1" class="tab-pane active">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                                        <div class="col-lg-4">
                                                            <div class="ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px; background-color: azure" >
                                                                <div class="ibox-title">
                                                                    <span class="label label-primary pull-right">Hoje</span>
                                                                    <h5>Indicador Simples</h5>
                                                                </div>
                                                                <div class="ibox-content">
                                                                    <h2 class="no-margins">R$ 123.765,88</h2>
                                                                    <div class="stat-percent font-bold text-navy">22% <i class="fa fa-level-up"></i></div>
                                                                    <small style="cursor: pointer; text-decoration: underline; color: #337ab7;" onclick="mostrarDesc('Descrição completa do widget, dizendo de onde vem, para onde vai, quem ele é, do que ele gosta, onde vive, etc')">Descrição Simples</small>
                                                                    <br />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px; background-color: azure" >
                                                                <div class="ibox-title">
                                                                    <span class="label label-danger pull-right">AVISO</span>
                                                                    <h5>Indicador Expansão</h5>
                                                                </div>
                                                                <div class="ibox-content">
                                                                    <h2 class="no-margins">R$ 123.765,88</h2>
                                                                    <div class="stat-percent font-bold text-danger">12% <i class="fa fa-level-down"></i></div>
                                                                    <small style="cursor: pointer; text-decoration: underline; color: #337ab7;" onclick="mostrarDesc('Descrição completa do widget, dizendo de onde vem, para onde vai, quem ele é, do que ele gosta, onde vive, etc')">Descrição Simples</small>
                                                                    <br />
                                                                    <br />
                                                                    @Html.ButtonLinkIndex(text: "Ver", controller: "Dashboard", action: "VerResultadosSemGrafico", buttonClass: "white")
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px; background-color: azure" >
                                                                <div class="ibox-title">
                                                                    <span class="label label-warning pull-right">Total</span>
                                                                    <h5>Indicador Completo</h5>
                                                                </div>
                                                                <div class="ibox-content">
                                                                    <h2 class="no-margins">R$ 123.765,88</h2>
                                                                    <div class="stat-percent font-bold text-navy">8% <i class="fa fa-level-up"></i></div>
                                                                    <small style="cursor: pointer; text-decoration: underline; color: #337ab7;" onclick="mostrarDesc('Descrição completa do widget, dizendo de onde vem, para onde vai, quem ele é, do que ele gosta, onde vive, etc')">Descrição Simples</small>
                                                                    <br />
                                                                    <br />
                                                                    @Html.ButtonLinkIndex(text: "Ver", controller: "Dashboard", action: "VerResultados", buttonClass: "white")
                                                                    <br />
                                                                    <br />
                                                                    <div id="sparkline1"></div>                                                            
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>
                                                    <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">



                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        @*Tela Operacional*@
                                        <div id="tab-2" class="tab-pane">
                                            <div class="panel-body">
                                                <h4 style="font-weight: bold; color:green">Em Desenvolvimento</h4>
                                            </div>
                                        </div>

                                        @*Business Inteligence*@
                                        <div id="tab-3" class="tab-pane">
                                            <div class="panel-body">
                                                <h4 style="font-weight: bold; color:green">Em Desenvolvimento</h4>
                                            </div>
                                        </div>

                                    </div>
                                }
                            </div>




                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />  
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
}

@section Scripts {

    @Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/sparkline")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/ionRange")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>

    <script>
        function mostrarDesc(desc) {
            $('#modalDescBody').html(desc);
            $('#modalDesc').modal('show');
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

        });
    </script>
    <script>
        $("#ionrange_1").ionRangeSlider({
            min: 0,
            max: 10,
            type: 'double',
            prettify: false,
            hasGrid: true
        });
    </script>
    <script type="text/javascript">
        $(".touchspin2").TouchSpin({
            min: 0,
            max: 1000,
            step: 1,
            buttondown_class: 'btn btn-white',
            buttonup_class: 'btn btn-white'
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $("#data").mask("99/99/9999");
            $("#cnpj").mask("99.999.999/9999-99");
        });
    </script>
    <script type="text/javascript" language="javascript">
        $(function () {
            $('.date-picker').datepicker(
                {
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Proximo',
                    prevText: 'Anterior',
                    showOn: "focus"
                }
            )
            .css("display", "normal")
            .next("button").button({
                icons: { primary: "ui-icon-calendar" },
                label: "Selecione uma data",
                text: false 
            });
        });
    </script>  
    @*<script>
        $(function () {
            FiltrarTudo ($('#catProd').val());
        });

        function FiltrarTudo(Filtro) {
            var data = {
                id: CAPR_CD_ID
            }

            //var objSubCatProduto = $('select#subCatProd');

            // Requisição para o controller
            $.ajax({
                url: '../Dashboard/FiltrarTudoDashboard'
                , type: 'POST'
                , data: data
                , success: function (r) {
                    // Remove todos os itens da lista e adiciona o placeholder
                    objSubCatProduto.children('option').remove();
                    objSubCatProduto.append('<option>Selecionar</option>');

                    // Loop para adicionar Itens específicos à categoria
                    r.forEach(function (e) {
                        objSubCatProduto.append('<option value="' + e.SCPR_CD_ID + '">' + e.SCPR_NM_NOME + '</option>');
                    });

                    //console.log(r);
                }
            });
        }

        function FiltrarCategoriaProduto(SCPR_CD_ID) {
            var data = {
                id: SCPR_CD_ID
            }

            var objCatProduto = $('select#catProd');

            // Requisição para o controller
            $.ajax({
                url: '../Produto/FiltrarCategoriaProduto'
                , type: 'POST'
                , data: data
                , success: function (r) {
                    // Remove todos os itens da lista e adiciona o placeholder
                    objCatProduto.children('option').remove();
                    objCatProduto.append('<option>Selecionar</option>');

                    // Selecionar a categoria
                    objCatProduto.append('<option selected="selected" value="' + r.CAPR_CD_ID + '">' + r.CAPR_NM_NOME + '</option>');

                    //console.log(r);
                }
            });
        }
    </script>*@
    <script type="text/javascript">
        $(document).ready(function () {

            $("#sparkline1").sparkline([34, 52, 25, 34, 51, 45], {
                type: 'line',
                width: '100%',
                height: '60',
                lineColor: '#17997f',
                fillColor: "#ffffff"
            });
            $("#sparkline2").sparkline([5, 6, 7, 2, 0, -4, -2, 4], {
                type: 'bar',
                barColor: '#1ab394',
                negBarColor: '#c6c6c6'
            });

            $("#sparkline3").sparkline([1, 1, 2], {
                type: 'pie',
                sliceColors: ['#1ab394', '#b3b3b3', '#e4f0fb']
            });

            $("#sparkline4").sparkline([34, 43, 43, 35, 44, 32, 15, 22, 46, 33, 86, 54, 73, 53, 12, 53, 23, 65, 23, 63, 53, 42, 34, 56, 76, 15, 54, 23, 44], {
                type: 'line',
                lineColor: '#17997f',
                fillColor: '#ffffff',
            });

            $("#sparkline5").sparkline([1, 1, 0, 1, -1, -1, 1, -1, 0, 0, 1, 1], {
                type: 'tristate',
                posBarColor: '#1ab394',
                negBarColor: '#bfbfbf'
            });


            $("#sparkline6").sparkline([4, 6, 7, 7, 4, 3, 2, 1, 4, 4, 5, 6, 3, 4, 5, 8, 7, 6, 9, 3, 2, 4, 1, 5, 6, 4, 3, 7, ], {
                type: 'discrete',
                lineColor: '#1ab394'
            });

            $("#sparkline7").sparkline([52, 12, 44], {
                type: 'pie',
                height: '150px',
                sliceColors: ['#1ab394', '#b3b3b3', '#e4f0fb']
            });

            $("#sparkline8").sparkline([5, 6, 7, 2, 0, 4, 2, 4, 5, 7, 2, 4, 12, 14, 4, 2, 14, 12, 7], {
                type: 'bar',
                barWidth: 8,
                height: '150px',
                barColor: '#1ab394',
                negBarColor: '#c6c6c6'
            });

            $("#sparkline9").sparkline([34, 43, 43, 35, 44, 32, 15, 22, 46, 33, 86, 54, 73, 53, 12, 53, 23, 65, 23, 63, 53, 42, 34, 56, 76, 15, 54, 23, 44], {
                type: 'line',
                lineWidth: 1,
                height: '150px',
                lineColor: '#17997f',
                fillColor: '#ffffff',
            });
        });
    </script>
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}
