@using Presentation.Extensions
@using CrossCutting;
@model SB_Dashboard_Presentation.ViewModels.ModeloViewModel
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<style>
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <div id="containerModalDesc">
        <div class="modal fade" id="modalDesc" tabindex="-1" role="dialog" aria-labelledby="modalDesc" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalDesc">Descrição do Indicador</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="modalDescBody" class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">Fechar</button>
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                </div>
            }

            <div class="row">
                @*Abas*@
                <div class="col-lg-12 col-md-12 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-xs-12" style="background-color: gainsboro">
                        <div class="col-lg-4 col-md-4 col-xs-12"  style=" margin-left: -15px; margin-top: 6px; margin-right: -2px" id="SIT" >
                            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="height: 500px">
                                <div class="ibox-title">
                                    <h5>Ordens de Serviço por Situação</h5>
                                    <button type="button" class="btn btn-sm btn-danger" aria-label="-" style="height: 20px; vertical-align: top; float: right" onclick="FecharSIT()"></button>
                                </div>
                                <div class="ibox-content">
                                    <div class="row">
                                        <canvas id="doughnutChart" height="235"></canvas>
                                    </div>
                                    <div class="row">
                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                <br />
                                            @Html.ButtonLinkIndex(text: "Expandir", action: "VerOSSituacaoExpansao", controller: "Dashboard", buttonClass: "success")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>  
                                                    
                        <div class="col-lg-8 col-md-8 col-xs-12"  style=" margin-left: -2px; margin-top: 6px; margin-right: 2px" id="ESP" >
                            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="height: 500px">
                                <div class="ibox-title">
                                    <h5>Ordens de Serviço por Especialidade</h5>
                                    <button type="button" class="btn btn-sm btn-danger" aria-label="-" style="height: 20px; vertical-align: top; float: right" onclick="FecharESP()"></button>
                                </div>
                                <div class="ibox-content">
                                    <div class="row">
                                        <canvas id="barChart" height="110"></canvas>
                                    </div>
                                    <div class="row">
                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                <br />
                                            @Html.ButtonLinkIndex(text: "Expandir", action: "VerOSSEspecialidadeExpansao", controller: "Dashboard", buttonClass: "success")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                                               
                    </div>

                    <div class="col-lg-12 col-md-12 col-xs-10" style="background-color: gainsboro">
                        <div class="col-lg-6 col-md-6 col-xs-12"  style=" margin-left: -15px; margin-top: -15px; margin-right: 2px" id="UF" >
                            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="height: 415px">
                                <div class="ibox-title">
                                    <h5>Ordens de Serviço por UF</h5>
                                    <button type="button" class="btn btn-sm btn-danger" aria-label="-" style="height: 20px; vertical-align: top; float: right" onclick="FecharUF()"></button>
                                </div>
                                <div class="ibox-content">
                                    <div class="row">
                                        <canvas id="barChart1" height="110"></canvas>
                                    </div>
                                    <div class="row">
                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                <br />
                                            @Html.ButtonLinkIndex(text: "Expandir", action: "VerOSUFExpansao", controller: "Dashboard", buttonClass: "success")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>     
                                                    
                        <div class="col-lg-6 col-md-6 col-xs-12"  style=" margin-left: -2px; margin-top: -15px; margin-right: 2px" id="TIPO" >
                            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="height: 415px">
                                <div class="ibox-title">
                                    <h5>Ordens de Serviço por Tipo</h5>
                                    <button type="button" class="btn btn-sm btn-danger" aria-label="-" style="height: 20px; vertical-align: top; float: right" onclick="FecharTIPO()"></button>
                               </div>
                                <div class="ibox-content">
                                    <div class="row">
                                        <canvas id="barChart2" height="110"></canvas>
                                    </div>
                                    <div class="row">
                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                <br />
                                            @Html.ButtonLinkIndex(text: "Expandir", action: "VerOSTipoExpansao", controller: "Dashboard", buttonClass: "success")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                                               
                    </div>

                    <div class="col-lg-12 col-md-12 col-xs-10" style="background-color: gainsboro">
                        <div class="col-lg-12 col-md-12 col-xs-12"  style=" margin-left: -12px; margin-top: -25px; margin-right: 2px" id="CID" >
                            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="height: 665px">
                                <div class="ibox-title">
                                    <h5>Ordens de Serviço por Cidade</h5>
                                    <button type="button" class="btn btn-sm btn-danger" aria-label="-" style="height: 20px; vertical-align: top; float: right" onclick="FecharCID()"></button>
                                </div>
                                <div class="ibox-content">
                                    <div class="row">
                                        <canvas id="barChart3" height="110"></canvas>
                                    </div>
                                    <div class="row">
                                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                <br />
                                            @Html.ButtonLinkIndex(text: "Expandir", action: "VerOSCidadeExpansao", controller: "Dashboard", buttonClass: "success")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                                               
                    </div>
                </div>
            </div>
        </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />  
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/Content/loadingDots.css")
}

@section Scripts {

    @Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/sparkline")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/ionRange")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    @Scripts.Render("~/plugins/chartjs")
    @Scripts.Render("~/plugins/flot")
    @Scripts.Render("~/plugins/sparkline")
    
   
    <script>
        function mostrarDesc(desc) {
            $('#modalDescBody').html(desc);
            $('#modalDesc').modal('show');
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

        });
    </script>
    <script>
        $("#ionrange_1").ionRangeSlider({
            min: 0,
            max: 10,
            type: 'double',
            prettify: false,
            hasGrid: true
        });
    </script>

    <script type="text/javascript">
        function FecharSIT() {
            $("#SIT").hide();
        }
        function FecharESP() {
            $("#ESP").hide();
        }
        function FecharCID() {
            $("#CID").hide();
        }
        function FecharTIPO() {
            $("#TIPO").hide();
        }
        function FecharUF() {
            $("#UF").hide();
        }
    </script>
    <script type="text/javascript">
        $(".touchspin2").TouchSpin({
            min: 0,
            max: 1000,
            step: 1,
            buttondown_class: 'btn btn-white',
            buttonup_class: 'btn btn-white'
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $("#data1").mask("99/99/9999");
            $("#data2").mask("99/99/9999");
            $("#data3").mask("99/99/9999");
            $("#data4").mask("99/99/9999");
            $("#data5").mask("99/99/9999");
            $("#data6").mask("99/99/9999");
            $("#data7").mask("99/99/9999");
            $("#data8").mask("99/99/9999");
        });
    </script>
    <script type="text/javascript" language="javascript">
        $(function () {
            $('.date-picker').datepicker(
                {
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Proximo',
                    prevText: 'Anterior',
                    showOn: "focus"
                }
            )
            .css("display", "normal")
            .next("button").button({
                icons: { primary: "ui-icon-calendar" },
                label: "Selecione uma data",
                text: false 
            });
        });
    </script>  

    <script type="text/javascript">
        $(document).ready(function () {

            $.ajax({
                url: '../Dashboard/GetDadosGraficoOrdemServicoEspecialidade'
                , type: 'POST'
                , success: function (result) {
                var barData = {
                    labels: result.labels,
                    datasets: [
                        {
                            label: "Quantidade",
                            backgroundColor: 'rgba(44,92,156,0.5)',
                            pointBorderColor: "#fff",
                            data: result.valores
                        }
                    //    {
                    //        label: "Total R$",
                    //        backgroundColor: 'rgba(26,179,148,0.5)',
                    //        borderColor: "rgba(26,179,148,0.7)",
                    //        pointBackgroundColor: "rgba(26,179,148,1)",
                    //        pointBorderColor: "#fff",
                    //        data: result.total
                    //    }
                    ]
                };

                var barOptions = {
                    responsive: true
                };

                var ctx2 = document.getElementById("barChart").getContext("2d");
                new Chart(ctx2, { type: 'bar', data: barData, options: barOptions });
              }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $.ajax({
                url: '../Dashboard/GetDadosGraficoOrdemServicoUF'
                , type: 'POST'
                , success: function (result) {
                var barData = {
                    labels: result.labels,
                    datasets: [
                        {
                            label: "Quantidade",
                            backgroundColor: 'rgba(44,92,156,0.5)',
                            pointBorderColor: "#fff",
                            data: result.valores
                        }
                    ]
                };

                var barOptions = {
                    responsive: true
                };

                var ctx2 = document.getElementById("barChart1").getContext("2d");
                new Chart(ctx2, { type: 'bar', data: barData, options: barOptions });
              }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $.ajax({
                url: '../Dashboard/GetDadosGraficoOrdemServicoTipo'
                , type: 'POST'
                , success: function (result) {
                var barData = {
                    labels: result.labels,
                    datasets: [
                        {
                            label: "Quantidade",
                            backgroundColor: 'rgba(44,92,156,0.5)',
                            pointBorderColor: "#fff",
                            data: result.valores
                        }
                    ]
                };

                var barOptions = {
                    responsive: true
                };

                var ctx2 = document.getElementById("barChart2").getContext("2d");
                new Chart(ctx2, { type: 'bar', data: barData, options: barOptions });
              }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $.ajax({
                url: '../Dashboard/GetDadosGraficoOrdemServicoCidade'
                , type: 'POST'
                , success: function (result) {
                var barData = {
                    labels: result.labels,
                    datasets: [
                        {
                            label: "Quantidade",
                            backgroundColor: 'rgba(44,92,156,0.5)',
                            pointBorderColor: "#fff",
                            data: result.valores
                        }
                    ]
                };

                var barOptions = {
                    responsive: true
                };

                var ctx2 = document.getElementById("barChart3").getContext("2d");
                new Chart(ctx2, { type: 'bar', data: barData, options: barOptions });
              }
            });
        });
    </script>
    
    <script type="text/javascript">
        $(document).ready(function () {

            $.ajax({
                url: '../Dashboard/GetDadosGraficoOrdemServicoSituacao'
                , type: 'POST'
                , success: function (result) {
                var doughnutData = {
                   labels: result.labels,
                   datasets: [{
                     data: result.valores,
                     backgroundColor: result.cores
                   }]
                };
                var doughnutOptions = {
                   responsive: true
                };
                var ctx4 = document.getElementById("doughnutChart").getContext("2d");
                new Chart(ctx4, { type: 'doughnut', data: doughnutData, options: doughnutOptions });
              }
            });
        });
    </script>
    
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}
