@using Presentation.Extensions
@using CrossCutting;
@model SB_Dashboard_Presentation.ViewModels.ModeloViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Config option 1</a>
                            </li>
                            <li>
                                <a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="form-group">
                            @Html.ButtonLinkIndex(text: "Voltar", action: "MontarTelaFluxoCaixa", controller: "Dashboard")
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-xs-12">
                            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px; height: 600px">
                                <div class="ibox-title">
                                    <h4>Exibição dos Dados e Informações do Indicador</h4>
                                    <h4 style="color: brown">(Exibidos apenas os XX primeiros registros)</h4>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-user">
                                            <li>
                                                <a href="#">Config option 1</a>
                                            </li>
                                            <li>
                                                <a href="#">Config option 2</a>
                                            </li>
                                        </ul>
                                        <a class="close-link">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div class="row">
                                        @if ((ViewBag.Lista as List<SB_Dashboard_Presentation.ViewModels.ModeloViewModel>).Count > 0)
                                        {
                                            <table class="table table-striped table-bordered table-hover">
                                                <thead style="background-color:lightsteelblue">
                                                    <tr>
                                                        <th>Mês/Ano</th>
                                                        <th>Valor (R$)</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var cond in (ViewBag.Lista as List<SB_Dashboard_Presentation.ViewModels.ModeloViewModel>))
                                                    {
                                                        <tr>
                                                            <td>@cond.MesAno</td>
                                                            <td>@CrossCutting.Formatters.DecimalFormatter(cond.Valor)</td>
                                                       </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        }
                                        <div class="form-group">
                                            @Html.ButtonLinkIndex(text: "Ver Todos", action: "VerTodos", controller: "Dashboard")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-12">
                            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px; height: 600px">
                                <div class="ibox-title">
                                    <h4>Comentários:</h4>
                                    <h4 style="color: brown">(Exibidos apenas os 3 primeiros comentários)</h4>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-user">
                                            <li>
                                                <a href="#">Config option 1</a>
                                            </li>
                                            <li>
                                                <a href="#">Config option 2</a>
                                            </li>
                                        </ul>
                                        <a class="close-link">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div class="row">
                                        @if ((ViewBag.ListaComent as List<SB_Dashboard_Presentation.ViewModels.ComentarioViewModel>).Count > 0)
                                        {
                                            foreach (var item in (ViewBag.ListaComent as List<SB_Dashboard_Presentation.ViewModels.ComentarioViewModel>).OrderByDescending(a => a.Data))
                                            {
                                                <div class="social-feed-box">
                                                    <div class="social-avatar">
                                                        <a href="" class="pull-left">
                                                            <img src="@Url.Content(item.Foto)" style="width: auto; height: auto; max-height: 90px; max-width: 70px;">
                                                        </a>
                                                        <div class="media-body">
                                                            <a href="#">
                                                                @item.Nome
                                                            </a>
                                                            <small class="text-muted">@item.Data.ToString("dd/MM/yyyy HH:mm")</small>
                                                        </div>
                                                    </div>
                                                    <div class="social-body">
                                                        <p>
                                                            @item.Texto
                                                        </p>
                                                    </div>
                                                </div>
                                            }
                                        }
                                        <br />
                                        <div class="form-group">
                                            @Html.ButtonLinkIndex(text: "Incluir Novo", action: "IncluirComentario", controller: "Dashboard")
                                            @Html.ButtonLinkIndex(text: "Ver Todos", action: "VerTodosComentario", controller: "Dashboard")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-12">
                            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px; height: 600px">
                                <div class="ibox-title">
                                    <h4>Anexos</h4>
                                    <h4 style="color: brown">(Exibidos apenas os 4 primeiros anexos)</h4>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-user">
                                            <li>
                                                <a href="#">Config option 1</a>
                                            </li>
                                            <li>
                                                <a href="#">Config option 2</a>
                                            </li>
                                        </ul>
                                        <a class="close-link">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div class="row">
                                        @using (Html.BeginForm("UploadFile", "Dashboard", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data", @id = "pwd-container2" }))
                                        {
                                            <div class="ibox-content">
                                                @if ((ViewBag.ListaAnexo as List<SB_Dashboard_Presentation.ViewModels.AnexosViewModel>).Count > 0)
                                                {
                                                    <table class="table table-striped table-bordered table-hover">
                                                        <thead style="background-color:lightsteelblue">
                                                            <tr>
                                                                <th>Título</th>
                                                                <th>Data</th>
                                                                <th>Tipo</th>
                                                                <th class="td-one-action">Ações</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var cond in (ViewBag.ListaAnexo as List<SB_Dashboard_Presentation.ViewModels.AnexosViewModel>))
                                                            {
                                                                <tr>
                                                                    <td>@cond.Titulo</td>
                                                                    <td>@cond.Data.ToShortDateString()</td>
                                                                    @if (cond.Tipo == 1)
                                                                    {
                                                                        <td>Imagem</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td>PDF</td>
                                                                    }
                                                                    <td class="td-one-action">
                                                                        @if (cond.Tipo == 1)
                                                                        {
                                                                            @Html.TableLinkDetails(cond.Tipo, "VerAnexo", "fa-camera", "Visualizar")
                                                                        }
                                                                        @if (cond.Tipo == 2)
                                                                        {
                                                                            <a title="Visualizar" class="fa fa-camera fa-lg" href="~/PdfViewer/web/viewer.html?file=@(cond.Arquivo.Replace("~", ""))&ReturnUrl=@Request.Url.AbsolutePath" target="_blank"></a>
                                                                        }
                                                                        @Html.TableLinkDetails(cond.Tipo, "Download", "fa-download", "Download")
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                }
                                                <div class="form-group">
                                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                                        @Html.ButtonLinkIndex(text: "Incluir Anexo", action: "IncluirAnexo", controller: "Dashboard")
                                                        @Html.ButtonLinkIndex(text: "Ver Todos", action: "VerTodosAnexos", controller: "Dashboard")
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                           
                            </div>
                        </div>                 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />  
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/sweetAlertStyles")
}

@section Scripts {

    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/sweetAlert")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    
    
    @*<script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                        }
                    }
                ]

            });

           

        });

    </script>*@
    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({
                pageLength: 10,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    //{ extend: 'copy' },
                    //{ extend: 'csv' },
                    //{ extend: 'excel', title: 'ExampleFile' },
                    //{ extend: 'pdf', title: 'ExampleFile' },

                    {
                        //extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });

        });

    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#sparkline1").sparkline([34, 52, 25], {
                type: 'line',
                lineColor: '#17997f',
                fillColor: '#1ab394',
            });
            $("#sparklineX").sparkline([5, 6, 7, 2, 0, -4, -2, 4], {
                type: 'bar',
                barColor: '#1ab394',
                negBarColor: '#c6c6c6'
            });

            $("#sparkline3").sparkline([1, 1, 2], {
                type: 'pie',
                sliceColors: ['#1ab394', '#b3b3b3', '#e4f0fb']
            });

            $("#sparkline2").sparkline([34, 43, 43, 35, 44, 32, 15, 22, 46, 33, 86, 54, 73, 53, 12, 53, 23, 65, 23, 63, 53, 42, 34, 56, 76, 15, 54, 23, 44], {
                type: 'line',
                width: '100%',
                height: '60',
                lineColor: '#17997f',
                fillColor: "#ffffff"
            });

            $("#sparkline5").sparkline([1, 1, 0, 1, -1, -1, 1, -1, 0, 0, 1, 1], {
                type: 'tristate',
                posBarColor: '#1ab394',
                negBarColor: '#bfbfbf'
            });


            $("#sparkline6").sparkline([4, 6, 7, 7, 4, 3, 2, 1, 4, 4, 5, 6, 3, 4, 5, 8, 7, 6, 9, 3, 2, 4, 1, 5, 6, 4, 3, 7, ], {
                type: 'discrete',
                lineColor: '#1ab394'
            });

            $("#sparkline7").sparkline([52, 12, 44], {
                type: 'pie',
                height: '150px',
                sliceColors: ['#1ab394', '#b3b3b3', '#e4f0fb']
            });

            $("#sparkline8").sparkline([5, 6, 7, 2, 0, 4, 2, 4, 5, 7, 2, 4, 12, 14, 4, 2, 14, 12, 7], {
                type: 'bar',
                barWidth: 8,
                height: '150px',
                barColor: '#1ab394',
                negBarColor: '#c6c6c6'
            });

            $("#sparkline9").sparkline([34, 43, 43, 35, 44, 32, 15, 22, 46, 33, 86, 54, 73, 53, 12, 53, 23, 65, 23, 63, 53, 42, 34, 56, 76, 15, 54, 23, 44], {
                type: 'line',
                lineWidth: 1,
                height: '150px',
                lineColor: '#17997f',
                fillColor: '#ffffff',
            });
        });
    </script>


    <script type="text/javascript">
        $(function () {
            $("#cpf").mask("999.999.999-99");
            $("#cnpj").mask("99.999.999/9999-99");
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('.demo3').click(function () {
                swal({
                    title: "Confirma a duplicação do produto?",
                    text: "A tela de edição deste produto será aberta logo após a confirmação",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Confirmar",
                    cancelButtonText: "Cancelar",
                   closeOnConfirm: false
                }, function () {
                    swal("Duplicado!", "Uma cópia deste produto foi criada", "success");
                });
            });
        });
    </script>

}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}

