@using Presentation.Extensions
@using CrossCutting;
@model EntitiesServices.Model.vwParcelamento
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div id="containerModalDesc">
        <div class="modal fade" id="modalDesc" tabindex="-1" role="dialog" aria-labelledby="modalDesc" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalDesc">Ocorrência</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="modalDescBody" class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Filtros</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Config option 1</a>
                            </li>
                            <li>
                                <a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                @using (Html.BeginForm("FiltrarEstoqueProduto", "Produto", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="ibox-content">
                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                            <div class="col-lg-2 col-md-2 col-xs-12">
                                Código de Barras
                                @Html.TextBoxFor(m => m.PRODUTO.PROD_NR_BARCODE, new { @class = "form-control", autofocus = true })
                            </div>
                            @if (ViewBag.Perfil == "ADM")
                            {
                                <div class="col-lg-3 col-md-3 col-xs-12">
                                    Filial
                                    @Html.DropDownListFor(m => m.FILI_CD_ID, (SelectList)ViewBag.Filiais, "Selecionar", new { @class = "form-control" })
                                </div>
                            }
                            <div class="col-lg-3 col-md-3 col-xs-12">
                                Nome
                                @Html.TextBoxFor(m => m.PRODUTO.PROD_NM_NOME, new { @class = "form-control", autofocus = true })
                            </div>
                            <div class="col-lg-3 col-md-3 col-xs-12">
                                Marca
                                @Html.TextBoxFor(m => m.PRODUTO.PROD_NM_MARCA, new { @class = "form-control", autofocus = true })
                            </div>
                        </div>
                        <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                @Html.ButtonActionSubmit(text: "Filtrar")
                                @Html.ButtonLinkIndex(text: "Retirar Filtro", controller: "Produto", action: "RetirarFiltroProdutoEstoqueNegativo")
                                @Html.ButtonLinkIndex(text: "Gerar Relatório", controller: "Produto", action: "GerarRelatorioNegativo")
                                @Html.ButtonLinkIndex(text: "Voltar", controller: "Produto", action: "MontarTelaProduto")
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>*@

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Parcelamentos - Lançamentos Filtrados</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Config option 1</a>
                            </li>
                            <li>
                                <a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="row">
                            <div class="form-group">
                                @Html.ButtonLinkIndex(text: "Voltar", action: "VerParcelamentosExpansao", controller: "Dashboard")
                            </div>
                        </div>
                        @if ((ViewBag.ListaPC as List<EntitiesServices.Model.vwParcelamento>).Count > 0)
                        {
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead style="background-color:lightsteelblue">
                                    <tr>
                                        <th>Ordem de Serviço</th>
                                        <th>Ordem de Compra</th>
                                        <th>Centro de Lucro</th>
                                        <th>Cliente</th>
                                        <th>Data Vencimento</th>
                                        <th>Valor (R$)</th>
                                        <th>Especialidade</th>
                                        <th>Tipo Equipe</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var cond in (ViewBag.ListaPC as List<EntitiesServices.Model.vwParcelamento>))
                                    {
                                        <tr>
                                            <td style="cursor: pointer; text-decoration: underline; color: #337ab7;" onclick="mostrarDesc('@cond.Ocorrencia')">@cond.Ordem_de_Servico</td>
                                            <td>@cond.Ordem_de_Compra</td>
                                            <td>@cond.Centro_de_Lucro</td>
                                            <td>@cond.Cliente</td>
                                            @if (cond.Data_de_Vencimento != null)
                                            {
                                                <td>@cond.Data_de_Vencimento.Value.ToShortDateString()</td>
                                            }
                                            else
                                            {
                                                <td>-</td>
                                            }
                                            <td>@CrossCutting.Formatters.DecimalFormatter(cond.Valor_Bruto)</td>
                                            <td>@cond.Especialidade</td>
                                            <td>@cond.Tipo_Equipe</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/sweetAlertStyles")
}

@section Scripts {

    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/sweetAlert")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>

    <script>
        function mostrarDesc(desc) {
            $('#modalDescBody').html(desc);
            $('#modalDesc').modal('show');
        }
    </script>
    
    <script type="text/javascript">$(document).ready(function () {

            $('.dataTables-example').DataTable({
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'excel', title: 'ListaReceitas' },
                    { extend: 'pdf', title: 'ListaReceitas' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                        }
                    }
                ]

            });
        });</script>
    <script type="text/javascript">$(function () {
            $("#cpf").mask("999.999.999-99");
            $("#cnpj").mask("99.999.999/9999-99");
        });</script>

}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}

