@using Inspinia_MVC5;
@using Presentation.Extensions
@using CrossCutting;
@using EntitiesServices.Work_Classes;
<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="row">
            <div class="form-group" style=" margin-left: 15px; margin-right: 15px;">
                <div class="col-lg-1 col-md-1 col-xs-12">
                    <img alt="image" src="~/Images/Logo_OnSuite.png" style = "width: auto; height: auto; max-height: 60px; max-width: 60px;" />
                </div>
                <div class="col-lg-2 col-md-2 col-xs-12">
                    @*<h2 style="color: green; font-weight: bold">São Bento Engenharia Ltda</h2>*@
                    <h2 style="color: green; font-weight: bold">Dashboards</h2>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12" style="vertical-align: middle; margin-top: 15px">
                    @Html.ButtonLinkIndex(text: "Fluxo de Caixa", action: "MontarTelaFluxoCaixa", controller: "Dashboard", buttonClass: "success")
                    @Html.ButtonLinkIndex(text: "Operacional", action: "MontarTelaOperacional", controller: "Dashboard", buttonClass: "success")
                    @Html.ButtonLinkIndex(text: "Business Inteligence", action: "MontarTelaBI", controller: "Dashboard", buttonClass: "success")
                </div>                    
                <div class="col-lg-4 col-md-4 col-xs-12" style="vertical-align: middle; margin-top: 15px">
                    @Html.ButtonLinkIndex(text: "Tela Inicial", action: "Index", controller: "Dashboard")
                    @Html.ButtonLinkIndex(text: "Atualizar Dados", action: "AtualizarDados", controller: "Dashboard")
                </div>                    
            </div>
        </div>
    </nav>
</div>